:root {
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #0085A1;
    --bs-cyan: #0dcaf0;
    --bs-danger: #dc3545;
    --primary-color: #F6AF00;
    --secondary-color: #f2f2f2;
}
:root {
    /* Font sizes for different screen sizes */
    --font-size-lg-section-heading: 4rem;
    --font-size-md-section-heading: 3.5rem;
    --font-size-sm-section-heading: 3rem;
    --font-size-xs-section-heading: 2.5rem;
    --font-size-xxs-section-heading: 2.25rem;

    --font-size-lg-h3: 3rem;
    --font-size-md-h3: 2.75rem;
    --font-size-sm-h3: 2.5rem;
    --font-size-xs-h3: 2.25rem;
    --font-size-xxs-h3: 2rem;
}
h3{
    font-size: var(--font-size-md-h3) !important;
    color: var(--bs-yellow);
}
.homeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    color: black;
}

#header-two {
    font: bold 28px sans-serif;
    letter-spacing: 5px;
    color: #2F4F4F;
}

section {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.testimonials-Sect {
    background-color: #f0f0f0;
    padding: 20px;

}

#mainNav .navbar-nav>li.nav-item>a.nav-link {
    color: #2F4F4F;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: var(--primary-color);
}




.navbar-expand-lg .navbar-nav .nav-link {
    
    transition: color 0.3s ease;
 
}
.navbar-nav .nav-item .nav-link:hover {
    
    color: var(--primary-color);
}



#mainNav {
    background-color: white !important;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1030;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    transition: background-color 0.3s ease, border-color 0.3s ease;

}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

@media (max-width: 1200px) {
    #header-two {
        font-size: 1.3rem;
    }
    .bottom-box {
     display: none;
    }
}

@media (max-width: 900px) {
    #header-two {
        font-size: 1.2rem;
    }
    .bottom-box {
        display: none;
    }
}

@media (max-width: 720px) {
    #header-two {
        font-size: 1rem;
    }
        .bottom-box {
            display: none;
        }
}

@media (max-width: 580px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;    
    }
          .bottom-box {
              display: none;
}
}

@media (max-width: 480px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .bottom-box{
        display: none;
    }
    .btn-primary{
        font-size: 10px;
    }
    .circle img{
        width: 350px;
        height:150px ;
    }
    .page-heading h3{
        font-size: 29px;
    }

}

@media (max-width: 430px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    .bottom-box {
        display: none;
    }
    .section{
        padding: 0% !important;
    }

    .btn-primary {
        font-size: 10px;
    }

    .circle img {
        width: 350px;
        height: 150px;
    }

    .page-heading h3 {
        font-size: 29px;
    }


}

/* about images */
.masthead {
        font: bold 24px sans-serif;
        letter-spacing: 5px;
        color: #2F4F4F;
}



.page-heading {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.masthead .bottom-box {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: var(--primary-color);
    border: #F6AF00 solid 10px;
}

/* Info Boxes Grid */
.info-box {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}
.info-box:hover{
    transform: translateY(-10px);
}

.info-box i {
    font-size: 3em;
    color: var(--primary-color);

}

.info-box img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

/* Custom styles for Find Out More section */
/* Custom styles for Find Out More section */
.find-out-more {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.circle {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    /* Ensure relative positioning for absolute positioning of h4 */
    overflow: hidden;
    /* Hide overflow to make sure border doesn't overflow */
}

.circle:hover img {
    border-color: var(--primary-color);
    /* Change border color on hover */
}

.circle img {
    max-width: 100%;
    height: 300px;
    border-radius: 50%;
    border: 3px solid transparent;
    /* Initially transparent border */
    transition: border-color 0.3s ease;
    /* Smooth transition for border color */
}

.circle:hover h4 {
    color: var(--primary-color);
    /* Change text color on hover */
    transition: color 0.3s ease;
    /* Smooth transition for text color */
}

.circle h4 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    
}

/* Styling for facts and statistics section */

/* Styling for facts and statistics section */

#facts-statistics {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.masthead {
    height: 100vh;
    /* Full height of viewport */
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
}

.fact-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent white background */
    padding: 40px;
}

.section-heading {
    color: var(--primary-color);
    font-size: var(--font-size-md-section-heading);
    margin-bottom: 20px;
}

.fact-text {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.6;
}
#facts-statistics .fact-overlay {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15%;
    padding: 20px;
    margin-left: 700px;
    /* Adjust margin to move the box to the right */
}

#facts-statistics .fact-overlay h2.section-heading {
    margin-bottom: 10px;
    color: #333;
    /* Text color */
}

#facts-statistics .fact-overlay .fact-text {
    color: #666;
    /* Text color */
}

@media (max-width: 991.98px) {
    .fact-overlay {
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    .fact-overlay {
        padding: 15px;
    }
}

/* mediaquerys for font size */

@media (max-width: 1200px) {

    h3 {
        font-size: var(--font-size-md-h3) !important;
    }
}

@media (max-width: 900px) {

    h3 {
        font-size: var(--font-size-sm-h3) !important;
    }
}

@media (max-width: 720px) {

    h3 {
        font-size: var(--font-size-xs-h3) !important;
    }
}

@media (max-width: 580px) {

    h3 {
        font-size: var(--font-size-xxs-h3) !important;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: var(--font-size-xxs-h3) !important;
    }
}