:root {
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #0085A1;
    --bs-cyan: #0dcaf0;
    --bs-danger: #dc3545;
    --primary-color: #F6AF00;
    --secondary-color: #f2f2f2;
}
:root {
    /* Font sizes for different screen sizes */
    --font-size-lg-section-heading: 4rem;
    --font-size-md-section-heading: 3.5rem;
    --font-size-sm-section-heading: 3rem;
    --font-size-xs-section-heading: 2.5rem;
    --font-size-xxs-section-heading: 2.25rem;
    --font-size-lg-h3: 3rem;
    --font-size-md-h3: 2.75rem;
    --font-size-sm-h3: 2.5rem;
    --font-size-xs-h3: 2.25rem;
    --font-size-xxs-h3: 2rem;
}


/* General Styles */
body {
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
}

/* Header Styles */
.masthead {
    position: relative !important;
    background-size: cover !important;
    background-position: center !important;
    color: white !important;
    padding: 60px 0 !important;
    /* Adjust padding as needed */
}


.bottom-box {
    margin-top: 25px !important;
    text-align: center !important;
}

.bottom-box p {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
    margin: 0 !important;
}



/* Media Queries */
@media (max-width: 768px) {
    .page-heading h1 {
        font-size: 2rem !important;
        /* Adjust for smaller screens */
    }

    .page-heading .subheading {
        font-size: 1rem !important;
    }

    .bottom-box p {
        font-size: 0.875rem !important;
    }
}

h3{
    font-size: 36px !important;
    color: black;
}
.homeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    color: black;
}

#header-two {
    font: bold 28px sans-serif;
    letter-spacing: 5px;
    color: #2F4F4F;
}

section {
    padding: 50px 0;

}

.testimonials-Sect {
    background-color: #f0f0f0;
    padding: 20px;

}

#mainNav .navbar-nav>li.nav-item>a.nav-link {
    color: #2F4F4F;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: var(--primary-color);
}




.navbar-expand-lg .navbar-nav .nav-link {
    
    transition: color 0.3s ease;
 
}
.navbar-nav .nav-item .nav-link:hover {
    
    color: var(--primary-color);
}

 @media (max-width: 576px) {

     /* Extra small devices (phones, less than 576px) */
     #mainNav .navbar-nav>li.nav-item>a.nav-link {
         font-size: 0.8rem !important;
     }
 }

 @media (min-width: 577px) and (max-width: 768px) {

     /* Small devices (tablets, 576px and up) */
     #mainNav .navbar-nav>li.nav-item>a.nav-link {
         font-size: 0.75 !important;
     }
 }

 @media (min-width: 769px) and (max-width: 992px) {

     /* Medium devices (desktops, 768px and up) */
     #mainNav .navbar-nav>li.nav-item>a.nav-link {
         font-size: 0.75rem !important;
     }
 }

 @media (min-width: 993px) {

     /* Large devices (large desktops, 992px and up) */
     #mainNav .navbar-nav>li.nav-item>a.nav-link {
         font-size: 1rem !important;
     }
 }

 #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
     color: var(--primary-color);
 }



#mainNav {
    background-color: #F9F9F9 !important;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1030;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
        margin-left: 0;
        margin-right: auto;
        padding: 18px 64px;
        background: var(--primary-color);
        border: none;
        color: white;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.88px;
        margin-bottom: 20px;
        font-weight: 700 !important;
        /* Ensure font weight is applied */
        letter-spacing: 0.88px !important;
        /* Ensure letter spacing is applied */
        text-align: center;
        /* Center text inside the div */
        padding: 10px 15px;
        /* Add padding if needed */
        border-radius: 5px;
        /* Optional: Add border radius for rounded corners */
        display: inline-block;
        /* Ensure the div behaves like a button */
        text-decoration: none;
        /* Remove underline if any */
        border: none !important;
        /* Optional: Add border to match text color */
        box-shadow: none;

}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

@media (max-width: 1200px) {
    #header-two {
        font-size: 1.3rem;
    }

}

@media (max-width: 900px) {
    #header-two {
        font-size: 1.2rem;
    }
    .bottom-box {
        display: none;
    }
}

@media (max-width: 720px) {
    #header-two {
        font-size: 1rem;
    }
        .bottom-box {
            display: none;
        }
}

@media (max-width: 580px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;    
    }
          .bottom-box {
              display: none;
}
}

@media (max-width: 480px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .bottom-box{
        display: none;
    }
    .btn-primary{
        font-size: 10px;
    }
    .circle img{
        width: 350px;
        height:150px ;
    }
    .page-heading h3{
        font-size: 29px;
    }

}

@media (max-width: 430px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    .bottom-box {
        display: none;
    }
    .section{
        padding: 0% !important;
    }

    .btn-primary {
        font-size: 10px;
    }

    .circle img {
        width: 350px;
        height: 150px;
    }

    .page-heading h3 {
        font-size: 29px;
    }


}

/* about images */
.masthead {
        font: bold 24px sans-serif;
        letter-spacing: 5px;
        color: #2F4F4F;
}



.page-heading {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.masthead .bottom-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color-rgba);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: #666 solid 4px;
}

@media (max-width: 768px) {
    .masthead .bottom-box {
        top: 60%;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .masthead .bottom-box {
        top: 50%;
        width: 95%;
    }
}

/* Info Boxes Grid */
.info-box {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}
.info-box:hover{
    transform: translateY(-10px);
}

.info-box i {
    font-size: 3em;
    color: var(--primary-color);

}

.info-box img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
}


/* Custom styles for Find Out More section */
.find-out-more {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.circle {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    
}

.circle:hover img {
    border-color: var(--primary-color);
    
}

.circle img {
    max-width: 100%;
    height: 300px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
    
}

.circle:hover h4 {
    color: var(--primary-color);
    transition: color 0.3s ease;
    
}

.circle h4 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    
}

/* Styling for facts and statistics section */

/* Styling for facts and statistics section */

#facts-statistics {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.masthead {
    height: 100vh;
    /* Full height of viewport */
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--secondary-color); */
}

.fact-overlay {
    position: absolute;
    top: 33%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 600px;
    height: auto;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 40px;
}

.section-heading {
    color: var(--primary-color);
    font-size: var(--font-size-md-section-heading);
    margin-bottom: 20px;
}

.fact-text {
    color: #333;
    font-size: 1.5rem;
    line-height: 1.6;
}
#facts-statistics .fact-overlay {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15%;
    padding: 20px;
    margin-left: 700px;
    /* Adjust margin to move the box to the right */
}

#facts-statistics .fact-overlay h2.section-heading {
    margin-bottom: 10px;
    color: #333;
    /* Text color */
}

#facts-statistics .fact-overlay .fact-text {
    color: #666;
    /* Text color */
}

@media (max-width: 991.98px) {
    .fact-overlay {
        padding: 20px;
        display: none;
    }
}

@media (max-width: 767.98px) {
    .fact-overlay {
        padding: 15px;
        display: none;
    }
         .fact-overlay .section-heading {
             font-size: 1.75rem;
     
         }
    
         .fact-overlay .fact-text {
             font-size: 0.9rem;
             /* Adjust text size for smaller screens */
                   }
}

@media (max-width: 480px) {
     .fact-overlay {
            padding: 10px;
            display: none;
         }
    
    .fact-overlay .section-heading {
       font-size: 1.5rem;
    }
    
    .fact-overlay .fact-text {
                 font-size: 0.8rem;
                 /* Adjust text size for very small screens */
             }
         }

/* mediaquerys for font size */

@media (max-width: 1200px) {

    h3 {
        font-size: var(--font-size-md-h3) !important;
    }
}

@media (max-width: 900px) {

    h3 {
        font-size: 36px !important;
    }
}

@media (max-width: 720px) {

    h3 {
        font-size: var(--font-size-xs-h3) !important;
    }
}

@media (max-width: 580px) {

    h3 {
        font-size: var(--font-size-xxs-h3) !important;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: var(--font-size-xxs-h3) !important;
    }
}


/* bottom box */
 .masthead {
     position: relative;
     height: 100vh;
     /* Full viewport height */
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     /* Dark overlay */
     z-index: 1;
 }

 .page-heading {
     position: relative;
     z-index: 2;
     color: #fff;
 }

 .bottom-box {
     position: relative;
     z-index: 2;
     background-color: rgba(255, 193, 7, 0.9);
    
     color: #000;
     /* Text color */
     padding: 20px;
     border-radius: 15px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     border: #F6AF00 solid 10px;
     text-align: center;
     width: 100%;
     max-width: 700px;
     margin-top: 20px;
 }

 @media (max-width: 768px) {
     .bottom-box {
         padding: 15px;
         font-size: 14px;
     }

 }

 @media (max-width: 480px) {
     .bottom-box {
         padding: 10px;
         font-size: 12px;
     }
         .btn-primary {
             margin-left: 70px;
         }
 }
 @media (max-width: 430px) {
   .btn-primary{
    margin-left: 60px;
   }

 }