:root {
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #0085A1;
    --bs-cyan: #0dcaf0;
    --bs-danger: #dc3545;
    --primary-color: #F30053;
    --secondary-color: #f2f2f2;
}

:root {
    /* Font sizes for different screen sizes */
    --font-size-lg-section-heading: 3.5rem;
    --font-size-md-section-heading: 3.0rem;
    --font-size-sm-section-heading: 2.5rem;
    --font-size-xs-section-heading: 2rem;
    --font-size-xxs-section-heading: 1.75rem;

    --font-size-lg-h3: 2.5rem;
    --font-size-md-h3: 2.25rem;
    --font-size-sm-h3: 2rem;
    --font-size-xs-h3: 1.75rem;
    --font-size-xxs-h3: 1.5rem;
}


.faq-section .card-header {
    background-color: #fff !important; 

}

.faq-section .card-header:hover{
    background-color: var(--primary-color) !important;
}
h3{
color: #333 !important;
}

h2{
    font-size: var(--font-size-md-section-heading) !important;
   color:  #333;
}

.card-header {
    background-color: var(--primary-color);
}
 .payment-icon {
     margin-right: 10px;
 }

body {
    background-color: #f5f5f5;
    padding-top: 70px;
    font-family: serif;

}

.donation-container {
    margin-top: 90px;
    margin-bottom: 200px;
    
}

.card-header {
    background-color: var(--primary-color) !important;
    padding: 20px !important;
    margin-bottom: 0 !important;
    border-bottom: none; 
    align-items: center;
 
}

.text-center {
    margin: inherit;
}

.btn-group-toggle .btn {
    border-radius: 0;
}

.form-check-label {
    margin-left: 10px;
}

.payment-methods .custom-control-label {
    display: flex;
    align-items: center;
}
    

.payment-methods .payment-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}
    
.container {
    margin-top: 20px !important;
    
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

h3{
    color: var(--secondary-color);
}


.fa-stack{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}


/* Override Bootstrap container padding */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style for the card */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.card-header {
    background-color: #F30053;
    text-align: center;
    padding: 15px;
}

.card-body {
    padding: 20px;
}

/* Custom styles for the donation amount slider */
.form-control-range {
    height: 10px;
    width: 80%;
    margin: 10px auto;
    background-color: #e9ecef;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
   
}

.form-control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #F30053;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
}

.form-control-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #F30053;
    border: none;
    border-radius: 50%;
    cursor: pointer;

}

.form-control-range::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #F30053;
    border: none;
    border-radius: 50%;
    cursor: pointer;

}

/* Style for impact area icons and text */
.text-center {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: inherit;
    text-align: center !important;
}

.fa-3x {
    color: #F30053;
    /* Primary color for icon */
}


/* Custom styles for Find Out More section */ 
.page-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-out-more {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.circle {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

}

.circle:hover img {
    border-color: var(--primary-color);

}

.circle img {
    max-width: 100%;
    height: 300px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;

}

.circle:hover h4 {
    color: var(--primary-color);
    transition: color 0.3s ease;

}

.circle h4 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    color: var(--secondary-color);
    transition: color 0.3s ease;

}


/* styles for fs header */
@media (max-width: 1200px) {
    .section-heading {
        font-size: var(--font-size-md-section-heading) !important;
    }

    #testimony-Header {
        font-size: 40px !important;
        font-weight: bold;
    }

}

@media (max-width: 900px) {
    .section-heading {
        font-size: var(--font-size-sm-section-heading) !important;
    }

    #testimony-Header {
        font-size: var(--font-size-sm-section-heading) !important;

    }

}

@media (max-width: 720px) {
    .section-heading {
        font-size: var(--font-size-xs-section-heading) !important;
    }

    #testimony-Header {
        font-size: var(--font-size-xs-section-heading) !important;

    }

}

@media (max-width: 580px) {
    .section-heading {
        font-size: var(--font-size-xxs-section-heading) !important;
    }

    #testimony-Header {
        font-size: var(--font-size-xxs-section-heading) !important;

    }
}

@media (max-width: 480px) {
    .section-heading {
        font-size: var(--font-size-xxs-section-heading) !important;

    }

    #testimony-Header {
        font-size: var(--font-size-xxs-section-heading) !important;

    }

}