
/* styles.css */


.navbar-brand img {
    /* height: 200px; */
    /* width: 130px; */
    transition: transform 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand img:hover {
    transform: scale(1.1);
    
}


.masthead{
    height: 1000px;
}



.masthead {
    height: 1000px;
}
/* media query for images */

/* media screen for 900px */
@media (max-width: 900px) {
    #header-two {
        font-size: 1.2rem;
    }

    .masthead {
     height: 600px;
     width: 900px;
    background-attachment: scroll;
 }

}

@media(max-width: 720px){
    .masthead {
     height: 500px;
     width: 800px;
     background-attachment: scroll;
    }
}

@media (max-width: 580px) {
    .masthead {
        height: 400px;
        width: 600px;
        background-attachment: scroll;
        
    }
    
}

@media (max-width: 480px) {
    .masthead {
        height:500px ;
        width:500px;
    }
}