:root {
    --bs-pink: #d63384;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #0085A1;
    --bs-cyan: #0dcaf0;
    --bs-danger: #dc3545;
    --primary-color: #F30053;
    --secondary-color:#f2f2f2;
}
:root {
    /* Font sizes for different screen sizes */
    --font-size-lg-section-heading: 3.5rem;
    --font-size-md-section-heading: 3.0rem;
    --font-size-sm-section-heading: 2.5rem;
    --font-size-xs-section-heading: 2rem;
    --font-size-xxs-section-heading: 1.75rem;

    --font-size-lg-h3: 2.5rem;
    --font-size-md-h3: 2.25rem;
    --font-size-sm-h3: 2rem;
    --font-size-xs-h3: 1.75rem;
    --font-size-xxs-h3: 1.5rem;
}


/* style for home section images */
.col-lg-4{
    margin-top: 65px;
}

/* btn postioning */
#home .btn-primary {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
}
#impact .btn-primary {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
}

/* resposnive homesction */
@media (max-width: 1200px) {
    .section-heading h2 {
        font-size: var(--font-size-md-section-heading);
    }

    .site-heading h1 {
        font-size: 3rem;
    }

    .site-heading .subheading {
        font-size: 1.25rem;
    }
}

@media (max-width: 900px) {
    .section-heading h2 {
        font-size: var(--font-size-sm-section-heading);
    }

    .site-heading h1 {
        font-size: 2.5rem;
    }

    .site-heading .subheading {
        font-size: 1rem;
    }
}

@media (max-width: 720px) {
    .section-heading h2 {
        font-size: var(--font-size-xs-section-heading);
    }

    .site-heading h1 {
        font-size: 2rem;
    }

    .site-heading .subheading {
        font-size: 0.875rem;
    }
}

@media (max-width: 580px) {
    .section-heading h2 {
        font-size: var(--font-size-xxs-section-heading);
    }

    .site-heading h1 {
        font-size: 1.75rem;
    }

    .site-heading .subheading {
        font-size: 0.75rem;
    }

    .cloud-text p {
        font-size: 0.875rem;
    }

    .btn-primary {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .site-heading h1 {
        font-size: 1.5rem;
    }

    .site-heading .subheading {
        font-size: 0.75rem;
    }

    .btn-primary {
        font-size: 0.75rem;
    }
}


/* media queireis for images home section */


    @media (max-width: 430px) {
        .img-fluid {
            width: 300px !important;
        }
                #learn-more-btn-desktop {
                    display: none;
                }
        
                #learn-more-btn-mobile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
    }


 #testimony-Header{
    font-size: var(--font-size-lg-section-heading) !important ;
    font-weight: bold;
 }

.d-flex .btn.btn-primary.text-uppercase{
    margin-top: 5%;
    display: flex;
    margin-right: 35%;
}
#header-two {
    font: bold 1.25rem ;
    font-size: var(--font-size-lg-section-heading) !important;
    font-style: Open Sans;
    color:#2F4F4F;
    text-align: center;
}

section {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.testimonials-Sect {
    background-color: #f0f0f0;
    padding: 20px;
    
}

         #mainNav .navbar-nav>li.nav-item>a.nav-link {
             color: #2F4F4F;
         }
    
         @media (max-width: 576px) {
    
             /* Extra small devices (phones, less than 576px) */
             #mainNav .navbar-nav>li.nav-item>a.nav-link {
                 font-size: 0.8rem !important;
             }
         }
    
         @media (min-width: 577px) and (max-width: 768px) {
    
             /* Small devices (tablets, 576px and up) */
             #mainNav .navbar-nav>li.nav-item>a.nav-link {
                 font-size: 0.75 !important;
             }
         }
    
         @media (min-width: 769px) and (max-width: 992px) {
    
             /* Medium devices (desktops, 768px and up) */
             #mainNav .navbar-nav>li.nav-item>a.nav-link {
                 font-size: 0.75rem !important;
             }
         }
    
         @media (min-width: 993px) {
    
             /* Large devices (large desktops, 992px and up) */
             #mainNav .navbar-nav>li.nav-item>a.nav-link {
                 font-size: 1rem !important;
             }
         }
   #mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
        color: var(--primary-color);
   }




.navbar-expand-lg .navbar-nav .nav-link {
    /* color: var(--primary-color) !important; */
    transition: color 0.3s ease; /* Smooth transition for color change */
}



#mainNav {
    background-color: white !important;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1030;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
   
}

.btn-primary:hover {
    background-color: var( --primary-color);
    border-color: #F30053;
}

/* statistics section */

#impact {
    padding: 60px 0;
}

#impact .section-heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#impact .text-muted {
    font-size: 1.2em;
}

#impact .card {
    border-color:#F30053;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#impact .card:hover {
    transform: translateY(-10px);
}

#impact .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #F30053;
}

#impact .card-text {
    font-size: 1.2em;
}

/* Apply styles to the "How Can You Help" section */
#help {
    padding: 60px 0;
}

#help .section-heading {
    /* font-size: var(--font-size-lg-section-heading) !important; */
    font-weight: bold;
    margin-bottom: 20px;
}

#help .text-muted {
    font-size: 1.2em;
}

#help .card {
    border-color: #F30053;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#help .card:hover {
    transform: translateY(-10px);
}

#help .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #F30053;
}

#help .card-text {
    font-size: 1.2em;
}

#IconHandshake{
    font-size: 1.5em;
    color: var(--primary-color);
}
#groupIcon{
    font-size: 1.5em;
    color: var(--primary-color);
}

#donateIcon{
    font-size: 1.7em;
    color: var(--primary-color);
}

#Comment-icon{
    font-size: 1.7em;
    color: var(--primary-color);
}

#Volunteer-icon{
    font-size: 1.7em;
    color: var(--primary-color);
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    /* Required for the ::after pseudo-element to be positioned correctly */
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth transition for scaling and color change */
}



.navbar-nav .nav-item .nav-link:hover {

    color: var(--primary-color);
}


/* Adjust the position of text relative to the flag icon */
.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    transition: background-color 0.3s ease;

}
.dropdown-item:hover{
    background-color: var(--primary-color);
}

.dropdown-item::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    transition: transform 0.3s ease;
        /* Add transition for smooth hover effect */
    
            /* Adjust margin between flag and text */

}



.dropdown-menu .dropdown-item:hover::before {
    transform: scale(1.2);
}

.dropdown-item {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center; 
    margin-right: 10px; 

}
.btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
   
}
.dropdown{
    font-size: smaller;
}


.de::before {
    background-image: url("https://flagsapi.com/DE/flat/32.png");
}

.FR::before {
    background-image: url("https://flagsapi.com/FR/flat/32.png");
}

.AE::before {
    background-image: url("https://flagsapi.com/AE/flat/32.png");
}

.ES::before {
    background-image: url("https://flagsapi.com/ES/flat/32.png");
}
.GB::before {
    background-image: url("https://flagsapi.com/GB/flat/32.png");
}

@media (max-width: 1200px) {
    #header-two {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    #header-two {
        font-size: 1.2rem;
        background-attachment: scroll;
    }
        .navbar-nav .nav-item .nav-link:hover::after {
         display: none;
    
        }




}

@media (max-width: 720px) {
    #header-two {
        font-size: 1rem;
    }
}

@media (max-width: 580px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    #help .section-heading {
        font-size: 1em;
    }

    .btn-primary{
        font-size: 12px;
    }
    .card {
        padding: 10px;

    }
}

@media (max-width: 480px) {
    #header-two {
        font-size: 1rem;
        letter-spacing: 2px;
    }
        .btn-primary {
            font-size: 10px;
        }
    
        /* Media query for screens smaller than 430px */
        .home {
            padding-bottom: 0px !important;
        }
    
        #header-two {
            font-size: 23px !important;
            line-height: 1.2;
        }
        
}

@media (max-width: 430px) {
    .btn-primary {
            font-size: 10px;
        } 
        /* Media query for screens smaller than 430px */
            .home {
                padding-bottom: 0px !important;
            }
    
            #header-two {
                font-size: 23px !important;
                line-height: 1.2;
            }
        }
    



/* Masthead styles */


.masthead {
    height: 600px;
    background-size: cover;

    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* Button styles */


.btn-primary:hover {
    background-color: #F30053;
    border-color: #F30053;
}

/* Home section styles */
.home {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.homeHeader {
    margin-bottom: 40px;
    text-align: center;
}

#header-two {
    font-size: 1.25em;
    color: #555;
}

/* Testimonials section styles */
.testimonials-Sect {
    padding: 60px 0;
    background-color: #ffffff;
}

.testimonial {
    margin-bottom: 40px;
    padding: 20px;
    border-left: 5px solid #F30053;
    background-color: #f9f9f9;
}

.blockquote-footer {
    font-size: 0.875em;
    color: #555;
}

.goal-box {
    /* background: var(--primary-color); */
    padding: 30px;
    border-radius: 15px;
    border-color: var(--primary-color);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.goal-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.goal-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

.section-heading {
    font-size: var(--font-size-lg-section-heading) !important;
    margin-bottom: 20px;
    color: #333;
}

/* Custom styles for goals section */
.goal-box i {
    color: var(--primary-color);
}

/* styles for fs header */
@media (max-width: 1200px) {
    .section-heading {
        font-size: var(--font-size-md-section-heading) !important;
    }
        #testimony-Header {
            font-size: 40px !important;
            font-weight: bold;
        }

}

@media (max-width: 900px) {
    .section-heading {
        font-size: var(--font-size-sm-section-heading) !important;
    }
        #testimony-Header {
            font-size: var(--font-size-sm-section-heading)!important ;

        }

}

@media (max-width: 720px) {
    .section-heading {
        font-size: var(--font-size-xs-section-heading) !important;
    }
        #testimony-Header {
            font-size: var(--font-size-xs-section-heading) !important;
    
        }

}

@media (max-width: 580px) {
    .section-heading {
        font-size: var(--font-size-xxs-section-heading) !important;
    }
        #testimony-Header {
            font-size: var(--font-size-xxs-section-heading) !important;
    
        }
}

@media (max-width: 480px) {
    .section-heading {
        font-size: var(--font-size-xxs-section-heading) !important;

    }
        #testimony-Header {
            font-size: var(--font-size-xxs-section-heading) !important;
    
        }

}

